repos:
  # Ruff (linter)
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Flake8
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0 # Use the latest stable version
    hooks:
      - id: flake8
        args:
          - --max-line-length=180
          - --max-complexity=20
          - --count
          - --show-source
          - --statistics
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock|pyproject\.toml$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

    #  Custom UV Type Checker (ty)
  - repo: local
    hooks:
      - id: ty
        name: Ty Type Checker
        entry: ty check
        language: system
        types: [python]
